<aside class="aside">
      <h3>Contenido Relacionado</h3>
      <div class="related-article">
        <h4>Artículo 1</h4>
        <p>Una breve descripción del artículo relacionado.</p>
        <a href="#">Leer más</a>
      </div>
    </aside>