---
layout: layouts/base.njk
title: 📬 ¡Déjame un Mensaje!
description: contacto

---

<section class="flex-column ">
  <h1>
  {{ title }}
</h1>
<p>
  ¿Te gustó lo que leíste? ¿Tienes alguna duda o simplemente quieres decir "¡Hola!"? 🤔 No seas tímido, deja tu comentario
  abajo ⬇️. No te preocupes, ¡prometo no morder! 🐶 (Solo muerdo el código 🧑‍💻). Si te sientes muy inspirado, puedes
  mandarme una paloma mensajera... pero un comentario aquí abajo sería más rápido. 😉 Así que, ¿qué esperas? ¡Escribe algo
  genial y hagamos que esta conversación sea tan divertida como un `console.log("Hola, Mundo!");`! 😄
</p>

</section>
<!-- capture the JS content as a Nunjucks variable -->
