---
layout: layouts/base.njk
title: Contenido Principal
descripcion: Explorando el conocimiento, compartiendo ideas y proyectos.

---

<h1>{{ title }}</h1>

   
      <h2 class="color-1">Tema relacionado con el Contenido Principal</h2>
      <p>Este es el contenido principal de la página.</p>

      <!-- Preguntas Frecuentes -->
      <h3 class="faq-title">Preguntas Frecuentes</h3>
      <div class="faq-item">
        <button class="faq-toggle">¿Cómo puedo contactarlos?</button>
        <div class="faq-content">
          Puedes contactarnos a través de nuestro formulario de contacto o por teléfono.
        </div>
      </div>
      <div class="faq-item">
        <button class="faq-toggle">¿Cuáles son sus horarios?</button>
        <div class="faq-content">
          Estamos disponibles de lunes a viernes de 9:00 a 18:00.
        </div>
      </div>
  