/* variables.css */
:root {
  --color-primary: #2c3e50;
  --color-secondary: #34495e;
  --color-hsla: hsla(210, 29%, 29%, 0.5);
  --color-accent: #419f5d;
  --color-light: #ffffff;
  --color-dark: #2c3e50;
  --color-text: #2c3e50;
  --color-text-light: #ffffff;

  /* Estilos de títulos */
  --font-size-h1: clamp(24px, 6vw, 36px);
  --color-h1: var(--color-primary);
  --margin-h1: var(--margin);

  /* Estilos de párrafos */
  --font-size-p: clamp(16px, 2.5vw, 18px);
  --color-p: var(--color-text);
  --margin-p: var(--margin);

  /* Controla el ancho máximo del texto */
  --max-width-text: 700px;

  /* Espaciados */
  --padding-small: 0.5rem;
  --gap-small: 0.75rem;
  --margin-small: 0.5rem;

  /* Tipografía */
  --font-size-small: 0.875rem;

  /* Bordes */
  --border-radius-small: 4px;
  --gap: 16px;
  --padding: 1rem;
  --margin: 1rem;
  --border-radius: 8px;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --font-family: Arial, Helvetica, sans-serif;
  --font-size-base: clamp(14px, 2.5vw, 18px);
}