<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
      <meta name="keywords" content="{{keyword}}">
    <meta name="author" content="{{author}}">
    
    <!-- Open Graph / Facebook (para redes sociales) -->
    <meta property="og:title" content="{{or-title}}">
    <meta property="og:description" content="{{or-description}}">
    <meta property="og:image" content="{{or-image}}">
    <meta property="og:url" content="{{or-url}}">
    <meta property="og:type" content="{{or-type}}">
    
    <!-- Twitter Card (para Twitter) -->
    <meta name="twitter:card" content="{{twit-card}}">
    <meta name="twitter:title" content="{{twit-title}}">
    <meta name="twitter:description" content="{{twit-description}}">
    <meta name="twitter:image" content="{{twit-image}}">
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/ico/favicon.ico">
    <meta name="description" content="{{ descripcion }}"/> 
    {% set css %}
    {% include "normalize.css" %}
    {% include "styles.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{css | cssmin | safe}}
    </style>
  </head>
  <body>
    <div>{% include "nav.njk" %}</div>
  
    <!-- Contenido principal -->
    <div class="container gap-1">
      <header class="header">
        <a href="/">
          <h2>Logo</h2>
        </a>
      </header>

      {# Condición para incluir o excluir el bloque hero #}
      {% if not hero %}
        <div class="hero">
          <img src="/img/ban.jpg" alt="Imagen principal">
          <div class="hero-text">
            <h2>Bienvenido a Mi Sitio</h2>
            <p>Una experiencia web increíble</p>
          </div>
        </div>
      {% endif %}

      <main class="main flex-column">
        {{ content | safe }}
        
        {# Condición para incluir archivos en el bloque main #}
        {% if includeInMain %}
          {% include "extra-content.njk" %}
        {% endif %}
      </main>

      {# Condición para incluir o excluir el aside #}
      {% if not aside %}
        {% include "aside.njk" %}
      {% endif %}

      {# Condición para incluir o excluir el footer #}
      {% if not footer %}
        {% include "footer.njk" %}
      {% endif %}
    </div>
  
    {% set js %}
    {% include "app.js" %}
    {% endset %}
    <!-- feed it through our jsmin filter to minify -->
    <script>
      {{ js | jsmin | safe }}
    </script>
    <script type="module" src="/app/index.js"></script>
  </body>
</html>